In [ ]:
# Write a code to create a string with your name and print it
name = "Abhay"
print(name)

Abhay

In [ ]:
#Write a code to find the length of the string "Hello World"P
str="Hello World"
print(len(str))

11

In [ ]:
#Write a code to slice the first 3 characters from the string "Python Programming"
str= "Python Programming"
s=str[:3]
print(s)

Pyt

In [ ]:
#Write a code to convert the string "hello" to uppercaseP
text="hello"
text1=text.upper()
print(text1)

HELLO

In [ ]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"
str="I like apple"
new=str.replace("apple","orange")
print(new)

I like orange

In [ ]:
#Write a code to create a list with numbers 1 to 5 and print it
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
List1=[1,2,3,4]
List1.append(10)
print(List1)

[1, 2, 3, 4, 10]

In [ ]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
List1=[1,2,3,4,5]
List1.remove(3)
print(List1)

[1, 2, 4, 5]

In [ ]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']
char= ['a', 'b', 'c', 'd']
print(char[1])

b

In [ ]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
numbers= [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [ ]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it.
num=(100,200,300)
print(num)

(100, 200, 300)

In [ ]:
#.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').col= ('red', 'green', 'blue', 'yellow')
print(col[2])

blue

In [ ]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15).
list1=(10,20,5,15)
list2=min(list1)
print(list2)

5

In [ ]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animal= ('dog', 'cat', 'rabbit')
index=animal.index('cat')
print(index)

1

In [ ]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits=('apple', 'banana', 'kiwi')
if 'kiwi' in fruits:
     print('present')
else:
     print('not present')

present

In [ ]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s1={'a', 'b', 'c'}
print(s1)

{'b', 'a', 'c'}

In [ ]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s2= {1, 2, 3, 4, 5}
s2.clear()
print(s2)

set()

In [ ]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s2= {1, 2, 3, 4}
s2.remove(4)
print(s2)

{1, 2, 3}

In [ ]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a={1,2,3}
b={3,4,5}
c=a.union(b)
print(c)

{1, 2, 3, 4, 5}

In [ ]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a={1,2,3}
b={2,3,4,}
c=a.intersection(b)
print(c)

{2, 3}

In [ ]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict1={"name" : "Gaurav", "age" : 24, "city" : "Mumbai"}
print(dict1)

{'name': 'Gaurav', 'age': 24, 'city': 'Mumbai'}

In [ ]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict1={"name" : "John", "age" : 25}
dict1["country"]="USA"
print(dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict1={"name" : "Alice", "age" : 30}
print(dict1["name"])

Alice

In [ ]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict1= {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict1.pop('age')
print(dict1)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict1= {'name': 'Alice', 'city': 'Paris'}
print("city" in dict1)

True

In [ ]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.l1=[1,2,3,4,5,6]
t1=(7,8,9)
dict1={"name" : "Gaurav", "age" : 24, "city" : "Mumbai"}
print(l1)
print(t1)
print(dict1)

[22, 35, 46, 51, 67]
(7, 8, 9)
{'name': 'Gaurav', 'age': 24, 'city': 'Mumbai'}

In [ ]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
l1=[22,46,35,67,51]
l1.sort()
print(l1)

[22, 35, 46, 51, 67]

In [ ]:
# Write a code to create a list with strings and print the element at the third index.
l1=["apple", "banana", "orange", "grapes", "pineapple"]
print(l1[3])

grapes

In [ ]:
#Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "cherry", "apple", "banana"]
string_set = set(string_list)
print(string_set)

{'banana', 'cherry', 'apple'}